# Colocando sql como linguagem no GitHub
*.sql linguist-detectable=true
*.sql linguist-language=sql

# Convertendo para lf
*.sql eol=lf
*.java eol=lf
*.md eol=lf
*.txt eol=lf
api/mvnw text eol=lf

# Convertendo para crlf
*.cmd text eol=crlf
